$black: #000000;

$grey1: rgba(0, 0, 0, 0.3);
$grey2: rgba(255, 255, 255, 0.3);
$grey3: #e5e5e5;
$grey4: #eeeeee;
$grey5: #d6d6d6;

$brown1: #766357;
$brown2: #604e43;
$brown3: rgba(118, 99, 87, 0.3);

$mainBlue: #81b3d2;
$blue1: #669ec0;
$blue2: #5496bd;
$blue3: #678fa8;
$blue4: #9ac2db;
$blue5: #c1d8e8;

$white: #ffffff;
