* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
}

.container {
  width: auto;

  @include mq($desktop) {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 1px 1px 20px 0 $grey1;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
