body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  background-color: $grey6;
}

* {
  box-sizing: border-box;
}

.break-line {
  display: none;

  @include mq(768) {
    display: inline;
  }
}

.container {
  width: 320px;
  margin: 0 auto;
  box-shadow: 1px 1px 20px 0 $grey1;

  @include mq(768) {
    width: 768px;
  }

  @include mq(1200) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
