.main-nav {
  max-height: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  transition: max-height 0.4s ease-in-out;

  &--left-part {
    .main-nav__item--first {
      border-top: none;
    }
  }

  &--right-part {
    .main-nav__item--last {
      border-bottom: none;
    }
  }
}

.main-nav__item {
  border-top: 1px solid $blue4;
  border-bottom: 1px solid $blue3;
}

.main-nav__item-link {
  display: block;
  padding: 8px 0 7px;
  color: $white;
  background-color: $mainBlue;
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $blue1;
  }

  &:active {
    color: $grey2;
    background-color: $blue2;
  }
}
