.media {
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
  background-color: $white;
}

.media__header {
  position: relative;
  width: 86%;
  padding: 36px 0 29px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 128%;
    height: 1px;
    margin: 0 -14%;
    background-color: $grey3;
  }
}

.media__title {
  margin: 0 0 26px;
  font-size: 18px;
}

.media__intro {
  margin: 0;
}

.media__item {
  padding: 22px 20px 17px;
  text-align: left;
  border-bottom: 1px solid $grey3;
}

.media__photo {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 0 17px;
  object-fit: cover;
}

.media__photo-title {
  margin: 0;
  font-size: 14px;
}

.media__photo-author {
  margin: 0 0 4px;
  text-transform: none;
}

.media__likes-block {
  display: flex;
  align-items: center;
}

.media__likes-button {
  padding: 0;
  margin: 0 15px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    .media__likes-icon {
      fill: $black;
    }
  }
}

.media__likes-icon {
  fill: $grey1;
  transition: 0.2s ease-in-out;
}

.media__likes-count {
  font-weight: 700;
  padding: 5px 0 0;
}
