.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 15px 25px;
}

.page-footer__tag-link {
  margin: 0 0 37px;
  font-size: 21px;
  font-weight: 700;
}

.page-footer__social {
  margin: 0 0 34px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  padding: 1px 0 0 6px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.page-footer__copyright-sign {
  margin: 0 4px 0 0;
}

.page-footer__copyright-link {
  display: block;
  transition: fill 0.2s ease-in-out;

  &:hover {
    fill: $mainBlue;
  }

  &:active {
    fill: $grey1;
  }
}
