.social {
  display: flex;
}

.social__item {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0 5px 0 0;

  &:last-of-type {
    margin: 0;
  }

  &:active {
    .social__item-pic {
      fill: $grey2;
    }
  }
}

.social__item-pic {
  margin: auto;
  fill: $white;
  transition: fill 0.2s ease-in-out;
}
