// Разрешения
  $tablet: 768;
  $desktop: 1200;

  $retina-dpi: 144dpi;
  $retina-dppx: 1.5dppx;

// Цвета
  $black: #000000;

  $grey1: rgba(0, 0, 0, 0.3);
  $grey2: rgba(255, 255, 255, 0.3);
  $grey3: #e5e5e5;
  $grey4: #eeeeee;
  $grey5: #d6d6d6;
  $grey6: #f2f2f2;
  $grey7: #5c6870;
  $grey8: #333333;
  $grey9: #b8b8b8;
  $grey10: #c2c2c2;
  $grey11: #949494;
  $grey12: #e6e6e6;
  $grey13: #d5d5d5;
  $grey14: #a4a4a4;

  $brown1: #766357;
  $brown2: #604e43;
  $brown3: rgba(118, 99, 87, 0.3);

  $mainBlue: #81b3d2;
  $blue1: #669ec0;
  $blue2: #5496bd;
  $blue3: #678fa8;
  $blue4: #9ac2db;
  $blue5: #c1d8e8;

  $white: #ffffff;
