.about {
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  background-color: $white;
}

.about__header svg {
  display: block;
  width: 100%;
  height: 26px;

  @include mq(768) {
    display: none;
  }
}

.about__header-wrapper {
  width: 85%;
  padding: 39px 0 43px;
  margin: 0 auto;

  @include mq(768) {
    width: 70%;
    padding: 50px 0;
  }

  @include mq(1200) {
    width: 45%;
  }
}

.about__title {
  margin: 0 0 28px;
  font-size: 18px;

  @include mq(768) {
    font-size: 21px;
    line-height: 1.24;
  }
}

.about__intro {
  margin: 0;
  line-height: 1.8;
}

.about__wrapper {
  @include mq(768) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  @include mq(768) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
  }

  &:not(:last-child) .about__item-header {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: calc(100% - 40px);
      height: 1px;
      background-color: $grey5;
      transform: translateX(-50%);

      @include mq(768) {
        display: none;
      }
    }
  }

  &--dark {
    @include mq(768) {
      width: 100%;
    }

    &:nth-child(2) {
      @include mq(768) {
        .about__item-header {
          order: 2;
        }
      }
    }

    .about__item-header {
      padding: 38px 20px 40px;
      color: $white;
      background-color: $mainBlue;

      @include mq(768) {
        width: 33.3%;
        padding: 44px 44px 40px;
      }

      @include mq(1200) {
        padding: 52px 60px;
      }

      &::after {
        display: none;
      }
    }
  }
}

.about__item-header {
  position: relative;
  padding: 24px 35px 30px;
  background-color: $grey4;

  @include mq(768) {
    padding: 45px 47px;
  }

  @include mq(1200) {
    width: 100%;
    padding: 45px 47px 65px;
  }
}

.about__item-title {
  margin: 0 0 10px;
  font-size: 18px;

  @include mq(768) {
    font-size: 21px;
    line-height: 1.24;
  }
}

.about__item-number {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 14px;

  @include mq(768) {
    margin: 0 0 22px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9px;
    height: 2px;
    background-color: $blue5;
    transform: translateY(-50%);
  }

  &::before {
    left: -15px;
  }

  &::after {
    right: -15px;
  }
}

.about__item-intro {
  margin: 0;
}

.about__item-image-container {
  @include mq(768) {
    width: 66.7%;
  }
}

.about__item-image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;

  @include mq(768) {
    height: 256px;
  }
}

.about__details {
  padding: 25px 22px 19px;
  text-align: left;

  @include mq(768) {
    display: flex;
    padding: 56px 0 61px;
    text-align: center;
  }

  @include mq(1200) {
    width: 100%;
    padding: 56px 0 82px;
  }
}

.about__details-item {
  position: relative;
  display: flex;
  padding: 0 0 19px;

  @include mq(768) {
    display: block;
    width: calc(100% / 3);
    padding: 0;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin: 0 10px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include mq(768) {
      display: block;
      width: 77px;
      height: 77px;
      margin: 0 auto 26px;
    }
  }

  &--first {
    &::before {
      background-image: url("../../img/icon-burger.svg");
    }
  }

  &--second {
    &::before {
      background-image: url("../../img/icon-gift.svg");
    }
  }

  &--third {
    &::before {
      background-image: url("../../img/icon-burger.svg");
    }
  }
}

.about__details-item-header {
  padding: 9px 0 0;

  @include mq(768) {
    padding: 0 45px;
  }
}

.about__details-title {
  margin: 0 0 13px;
  font-size: 18px;

  @include mq(768) {
    margin: 0 0 21px;
    font-size: 21px;
    line-height: 1.24;
  }
}

.about__details-description {
  margin: 0;
}
