.button {
  display: block;
  padding: 17px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $mainBlue;
  border: none;
  cursor: pointer;

  @include transition();

  &:hover {
    background-color: $blue1;
  }

  &:active {
    color: $grey2;
    background-color: $blue2;
  }

  &:disabled {
    color: $white;
    background-color: $grey3;
  }
}
