.feedback {
  line-height: 1.75;
  text-transform: uppercase;
}

.feedback__header {
  text-align: center;

  @include mq($tablet) {
    border-bottom: none;
  }
}

.feedback__header-wrapper {
  width: 90%;
  padding: 35px 0 17px;
  margin: 0 auto;

  @include mq($tablet) {
    width: 58%;
    padding: 69px 0 74px;
  }

  @include mq($desktop) {
    width: 37%;
    padding: 107px 0 59px;
  }
}

.feedback__title {
  margin: 0 0 24px;
  font-size: 18px;

  @include mq($tablet) {
    margin: 0 0 26px;
    font-size: 30px;
    line-height: 1.24;
  }
}

.feedback__intro {
  margin: 0;
  line-height: 1.75;
}
