.form {
  line-height: 1.45;

  @include mq($tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    line-height: 1.24;
  }

  @include mq($desktop) {
    padding: 0 120px;
  }
}

.form__fieldset {
  margin: 0;
  border: none;
  border-top: 1px solid $grey3;

  @include mq($tablet) {
    width: 100%;
  }

  &--inputs-simple {
    padding: 18px 20px 24px;

    @include mq($tablet) {
      position: relative;
      width: 50%;
      padding: 0 0 0 56px;
      margin: 0 0 81px;
      border-top: none;
    }

    @include mq($desktop) {
      padding: 0 0 0 80px;
    }

    &::before {
      @include mq($tablet) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 1px;
        height: 100%;
        background-color: $grey3;
      }
    }
  }

  &--inputs-with-icon {
    padding: 18px 20px 29px;

    @include mq($tablet) {
      padding: 0 0 79px;
    }

    @include mq($desktop) {
      padding: 0 0 51px;
    }
  }

  &--radio {
    padding: 18px 20px 28px;

    @include mq($tablet) {
      order: -1;
      width: 50%;
      padding: 0 40px 0 0;
      margin: 0 0 70px;
      border-top: none;
    }

    @include mq($desktop) {
      margin: 0 0 68px;
    }
  }

  &--checkboxes {
    padding: 18px 20px 26px;

    @include mq($tablet) {
      padding: 0 0 81px;
    }
  }

  &--textarea {
    padding: 18px 20px 45px;

    @include mq($tablet) {
      padding: 0 0 52px;
    }
  }
}

.form__legend {
  margin: 0 0 22px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @include mq($tablet) {
    width: 402px;
    font-size: 21px;
    background-color: $white;
  }

  &--inputs-simple {
    @include mq($tablet) {
      width: 100%;
      margin: 0 0 58px;
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--with-icon {
    @include mq($tablet) {
      margin: -13px auto 30px;
    }

    @include mq($desktop) {
      margin: -15px auto 75px;
    }
  }

  &--radio {
    @include mq($tablet) {
      width: 100%;
      margin: 0 0 59px;
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }

    @include mq($desktop) {
      text-align: center;
    }
  }

  &--checkbox {
    margin: 0 auto 18px;

    @include mq($tablet) {
      margin: -26px auto 41px;
    }
  }

  &--textarea {
    margin: 0 auto 19px;

    @include mq($tablet) {
      margin: -13px auto 57px;
    }
  }
}

.form__fieldset-wrapper {
  @include mq($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 459px;
    margin: 0 auto;
  }

  @include mq($desktop) {
    width: 100%;
    margin: 0;
  }

  &--with-icon {
    @include mq($tablet) {
      width: 100%;
      margin: 0;
    }
  }
}

.form__input {
  margin: 0 0 20px;

  &--with-icon {
    margin: 0 0 13px;

    @include mq($tablet) {
      width: 100%;
      margin: 0 0 26px;
    }

    @include mq($desktop) {
      width: 50%;
    }
  }

  &--radio {
    margin: 0 0 13px;

    @include mq($tablet) {
      margin: 0 0 22px;
    }
  }

  &--checkbox {
    margin: 0 0 23px;

    @include mq($tablet) {
      width: 43.7%;
      margin: 0 0 32px;
    }

    @include mq($desktop) {
      width: auto;
      max-width: 21.1%;
    }

    &:last-child,
    &:nth-last-child(2) {
      @include mq($tablet) {
        margin: 0;
      }
    }

    &:nth-last-child(3),
    &:nth-last-child(4) {
      @include mq($desktop) {
        margin: 0;
      }
    }
  }

  &:last-child {
    margin: 0;
  }
}

.form__bottom {
  @include mq($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 62px;
  }
}

.form__submit {
  width: calc(100% - 40px);
  margin: 0 auto 37px;
  font-size: 21px;

  @include mq($tablet) {
    width: 50%;
    margin: 0;
  }
}

.form__remark {
  display: none;

  @include mq($tablet) {
    display: block;
    max-width: 200px;
    margin: 0;
    color: $grey8;
  }
}
