.main-nav {
  max-height: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  @include transition(max-height, 0.4s);
  overflow: hidden;

  @include mq($tablet) {
    display: flex;
    justify-content: space-between;
    max-height: none;
    font-size: 14px;
  }

  &--opened {
    max-height: 500px;
  }
}

.main-nav__part {
  list-style: none;
  padding: 0;
  margin: 0;

  @include mq($tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
  }

  &--left {
    border-top: none;
  }

  &--right {
    .main-nav__item--last {
      border-bottom: none;
    }
  }
}

.main-nav__item {
  border-top: 1px solid $blue4;
  border-bottom: 1px solid $blue3;

  @include mq($tablet) {
    display: flex;
    width: 50%;
    border: none;
  }
}

.main-nav__item-link {
  display: block;
  padding: 8px 45px 7px;
  color: $white;
  background-color: $mainBlue;
  text-decoration: none;
  @include transition();

  @include mq($tablet) {
    padding: 13px 10px;
    margin: 0 auto;
    color: $black;
    background-color: $white;
  }

  &:hover {
    background-color: $blue1;

    @include mq($tablet) {
      color: $mainBlue;
      background-color: transparent;
    }
  }

  &:active {
    color: $grey2;
    background-color: $blue2;

    @include mq($tablet) {
      color: $grey1;
      background-color: transparent;
    }
  }

  &.is-active {
    @include mq($tablet) {
      color: $brown1;

      &:hover {
        color: $brown2;
      }

      &:active {
        color: $brown3;
      }
    }
  }
}
