.media {
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
}

.media__header {
  position: relative;
  width: 86%;
  padding: 36px 0 29px;
  margin: 0 auto;

  @include mq($tablet) {
    width: 58%;
    padding: 62px 0 71px;
  }

  @include mq($desktop) {
    width: 37%;
    padding: 99px 0 73px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 116%;
    height: 1px;
    margin: 0 -8%;
    background-color: $grey3;

    @include mq($tablet) {
      display: none;
    }
  }

  &--video {
    padding: 31px 0 36px;

    @include mq($tablet) {
      padding: 54px 0 74px;
    }

    @include mq($desktop) {
      padding: 57px 0 72px;
    }

    &::after {
      display: none;
    }
  }
}

.media__title {
  margin: 0 0 26px;
  font-size: 18px;

  @include mq($tablet) {
    margin: 0 0 19px;
    font-size: 30px;
  }

  @include mq($desktop) {
    margin: 0 0 20px;
  }
}

.media__intro {
  margin: 0;

  @include mq($tablet) {
    width: 99%;
  }
}

.media__wrapper {
  @include mq($tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 84%;
    margin: 0 auto;
  }

  @include mq($desktop) {
    width: 100%;
  }
}

.media__item {
  padding: 22px 20px 0;
  text-align: left;
  border-bottom: 1px solid $grey3;

  @include mq($tablet) {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    border-bottom: none;
  }

  @include mq($desktop) {
    position: relative;
    width: calc(100% / 3);
    padding: 15.65% 0 0;
  }

  &:first-child {
    @include mq($tablet) {
      width: 100%;
    }

    @include mq($desktop) {
      padding: 26.75% 0 0;
    }

    .media__photo-link {
      @include mq($tablet) {
        height: 400px;
      }

      @include mq($desktop) {
        height: 100%;
      }
    }
  }
}

.media__photo-link {
  display: block;
  width: 100%;
  height: 280px;

  @include mq($tablet) {
    height: 267px;
  }

  @include mq($desktop) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.media__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media__photo-info {
  padding: 17px 0;

  @include mq($tablet) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 17px 18px 13px;
    background-color: $grey6;
  }

  @include mq($desktop) {
    position: relative;
    padding: 16px 21px 13px;
    color: $white;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $black;
      opacity: 0.5;
    }
  }
}

.media__photo-info-text {
  @include mq($tablet) {
    width: 220px;
    margin: 0 auto 0 0;
  }

  @include mq($desktop) {
    position: relative;
  }
}

.media__photo-title {
  margin: 0;
  font-size: 14px;
}

.media__photo-author {
  margin: 0 0 4px;
  text-transform: none;
}

.media__likes-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include mq($tablet) {
    min-width: 66px;
    margin: -6px 0 0;
  }

  @include mq($desktop) {
    position: relative;
    min-width: 64px;
  }
}

.media__likes-button {
  padding: 0;
  margin: 0 15px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include mq($tablet) {
    margin: 0 10px 0 0;
  }

  &:hover svg {
    fill: $black;

    @include mq($desktop) {
      fill: $grey2;
    }
  }
}

.media__likes-button svg {
  fill: $grey1;

  @include transition();

  @include mq($desktop) {
    fill: $white;
  }
}

.media__likes-count {
  font-weight: 700;
  padding: 5px 0 0;
}

.media__video {
  padding: 0 0 40px;

  @include mq($tablet) {
    padding: 0 0 42px;
  }

  @include mq($desktop) {
    padding: 0 0 86px;
  }
}
