.page-footer {
  padding: 35px 15px 25px;
  text-align: center;
  background-color: $white;

  @include mq($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 54px 26px 59px;
  }

  @include mq($desktop) {
    padding: 35px 113px 26px 118px;
  }
}

.page-footer__item {
  @include mq($tablet) {
    width: 30%;
  }

  &--tag-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 37px;
    font-size: 21px;
    font-weight: 700;

    @include mq($tablet) {
      margin: 0 0 13px;
      text-align: left;
    }
  }

  &--social {
    margin: 0 0 26px;

    @include mq($tablet) {
      margin: 0 6px 0 0;
    }
  }

  &--copyright {
    font-size: 0;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    @include mq($tablet) {
      margin: 0 0 13px;
      text-align: right;
    }
  }
}

.page-footer__copyright-sign {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px 0 6px;
  font-size: 14px;
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;

  &:hover svg {
    fill: $mainBlue;
  }

  &:active svg {
    fill: $grey1;
  }
}

.page-footer__copyright-link svg {
  @include transition(fill);
}
