.page-header {
  position: relative;
  background-color: $white;
}

.page-header__burger-wrapper {
  position: absolute;
  top: 10px;
  right: 6px;
  width: 53px;
  height: 34px;
  padding: 15px;
  cursor: pointer;

  @include mq($tablet) {
    display: none;
  }

  &--opened {
    .page-header__burger {
      width: 0;
      background-color: $white;
      transition: width 0.2s ease, background-color 0.01s ease 0.05s;

      &::before,
      &::after {
        background-color: $white;
      }

      &::before {
        top: 15px;
        transform: rotate(45deg);
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s, background-color 0.01s ease 0.05s;
      }

      &::after {
        bottom: 15px;
        transform: rotate(135deg);
        transition: bottom 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s, background-color 0.01s ease 0.05s;
      }
    }
  }
}

.page-header__burger {
  display: block;
  width: 23px;
  height: 4px;
  padding: 0;
  margin: 0 auto;
  background-color: $mainBlue;
  border: none;
  transition: width 0.2s ease 0.2s, background-color 0.01s ease 0.35s;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 15px;
    display: block;
    width: 23px;
    height: 4px;
    background-color: $mainBlue;
  }

  &::before {
    top: 7px;
    transition: top 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out, background-color 0.01s ease 0.35s;
  }

  &::after {
    bottom: 7px;
    transition: bottom 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out, background-color 0.01s ease 0.35s;
  }
}

.page-header__block-title {
  position: relative;
  padding: 50px 0 67px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;

  @include retina() {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @include mq($tablet) {
    padding: 95px 0 116px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    @include retina() {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @include mq($desktop) {
    padding: 101px 0 118px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @include retina() {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--index {
    padding: 87px 0 85px;

    @include mq($tablet) {
      padding: 78px 0 89px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 26px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;

    @include mq($tablet) {
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @include mq($desktop) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}

.page-header__title {
  display: block;
  width: 230px;
  height: 40px;
  margin: 0 auto;

  @include mq($tablet) {
    width: 456px;
    height: 80px;
  }

  @include mq($desktop) {
    width: 462px;
  }

  &--index {
    width: 281px;
    height: 216px;

    @include mq($tablet) {
      width: 460px;
      height: 350px;
    }
  }
}

.page-header__logo {
  height: 57px;

  @include mq($tablet) {
    position: absolute;
    top: 0;
    left: 50%;
    height: auto;
    z-index: 1;
    transform: translateX(-50%);
  }
}

.page-header__logo-link {
  position: relative;
  z-index: 2;
  display: block;
  width: 101px;
  margin: 0 auto;

  @include mq($desktop) {
    width: 186px;
  }
}

.page-header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
